<h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>
<h1><%= @restaurant.name %></h1>

<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Phone:</strong> <%= @restaurant.phone_number %></p>
<p><strong>Category:</strong> <%= @restaurant.category.capitalize %></p>

<hr>

<h2>Reviews</h2>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <strong>Rating:</strong> <%= review.rating %> <br>
      <%= review.content %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %><br>
<%= link_to "Back to all restaurants", restaurants_path %>
