<h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>
<h1><%= @restaurant.name %></h1>

<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Phone:</strong> <%= @restaurant.phone_number %></p>
<p><strong>Category:</strong> <%= @restaurant.category.capitalize %></p>

<hr>

<h2>Reviews</h2>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <strong>Rating:</strong> <%= review.rating %> <br>
      <%= review.content %>
    </li>
  <% end %>
</ul>
<h2>Leave a Review</h2>

<%= form_with(model: [@restaurant, @review], local: true) do |form| %>
  <div>
    <%= form.label :rating %><br>
    <%= form.select :rating, options_for_select(0..5) %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit "Submit Review" %>
  </div>
<% end %>
<%#= link_to "Add a review", new_restaurant_review_path(@restaurant) %><br>
<%= link_to "Back to all restaurants", restaurants_path %>
