<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>
<h1>New Review for <%= @restaurant.name %></h1>

<%= form_with(model: [@restaurant, @review], local: true) do |form| %>
  <div>
    <%= form.label :rating %><br>
    <%= form.label :rating %><br>
    <%= form.select :rating, options_for_select(1..5) %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit "Submit Review" %>
  </div>
<% end %>

<%= link_to "Back to restaurant", restaurant_path(@restaurant) %>
